.header
  .header__top
    .wrapper
      div Подключайся и играй на наших серверах!!!
  .wrapper
    |here layout of header
  .header__menu
    .wrapper
      ul
        -
          var menu = [
            'главная',
            'об игре',
            'список серверов',
            'наша команда',
            'донат'
          ];
        each item in menu
          li
            a(href="#") #{item}